<%- include('includes/navigation.ejs') %>

    <form action="/" method="POST">
        <label for="title">username</label>
        <input type="text" name="username"/>
        <button type="submit"> Add user</button>
    </form>
    
</body>
</html>